
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container">
      <a class="navbar-brand" href="/admin/homes/about"><span>管理者ログイン</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

    <% if admin_signed_in? %>

    <li>
     <%= link_to admin_index_path,class: 'nav-link text-light' do %>
     <i class="fa-duotone fa-cake-candles" aria-hidden="true" ></i>　商品一覧
    <%end%>
    </li>

    <li>
       <%= link_to  admin_customers_index_path, class: 'nav-link text-light' do %>
       <i class="fa-solid fa-images-user" aria-hidden="true" ></i> 会員一覧
     <%end%>
    </li>

    <li>
     <%= link_to  admin_orders_show_path, class: 'nav-link text-light' do %>
     <i class="fas fa-calendar-check-o" aria-hidden="true" ></i> 注文履歴一覧
    <%end%>
    </li>

　  <li>
     <%= link_to admin_genres_index_path , class: 'nav-link text-light' do %>
      <i class="fa-light fa-calendar-lines-pen" aria-hidden="true"></i> ジャンル一覧
    <%end%>
    </li>

    <li>
      <%= link_to  destroy_admin_session_path, method: :delete,  class: 'nav-link text-light' do %>
      <i class="fas fa-sign-out-alt" aria-hidden="true" ></i> ログアウト
      <%end%>
    </li>

    <% elsif %>
      <li>
        <%= link_to  admin_items_path , class: 'nav-link text-light' do %>
        <i class="fa-solid fa-cake-slice" aria-hidden="true"></i> 商品一覧
      <%end%>
      </li>

      <li>
        <%= link_to  admin_root_path, class: 'nav-link text-light' do %>
       <i class="fas fa-link" aria-hidden="true" ></i> About
      <%end%>
      </li>

      <li>
        <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
         <i class="fas fa-user-plus"  aria-hidden="true"></i> 新規登録
      <%end%>
     </li>
      <li>
        <%= link_to  new_admin_session_path,  class: 'nav-link text-light' do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      </li>
       <%end%>
        <% elsif customer_signed_in? %>

          <li>
     <%= link_to public_orders_path,class: 'nav-link text-light' do %>
     <i class="fa-solid fa-list" aria-hidden="true" ></i>　注文一覧
    <%end%>
    </li>

    <li>
       <%= link_to  public_customer_path, class: 'nav-link text-light' do %>
       <i class="fas fa-book-open" aria-hidden="true" ></i> 会員一覧
     <%end%>
    </li>

    <li>
     <%= link_to  public_items_path, class: 'nav-link text-light' do %>
     <i class="fa-solid fa-cake-slice" aria-hidden="true" ></i> 商品一覧
    <%end%>
    </li>

　  <li>
     <%= link_to pulic_cart_items_path , class: 'nav-link text-light' do %>
      <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i> カート内商品
    <%end%>
    </li>

    <li>
      <%= link_to  destroy_customer_session_path, method: :delete,  class: 'nav-link text-light' do %>
      <i class="fas fa-sign-out-alt" aria-hidden="true" ></i> ログアウト
      <%end%>
    </li>

    <% else %>
        <li>
        <%= link_to  public_homes_about_path, class: 'nav-link text-light' do %>
       <i class="fas fa-link" aria-hidden="true" ></i> About
      <%end%>
      </li>

      <li>
        <%= link_to  public_items_path , class: 'nav-link text-light' do %>
        <i class="fa-solid fa-cake-slice" aria-hidden="true"></i> 商品一覧
      <%end%>
      </li>

      <li>
        <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
         <i class="fas fa-user-plus"  aria-hidden="true"></i> 新規登録
      <%end%>
     </li>
      <li>
        <%= link_to  new_customer_session_path,  class: 'nav-link text-light' do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      </li>
       <%end%>
       <% end %>
     </div>
    </div>
   </ul>
  </nav>
</header>

<body>
  <main>
    <% flash.each do |key, value| %>
   <%=content_tag(:div, value, class: "flash flash__#{key}") %>
   <%end%>
   <%#= flash[:success]%>
   <%= yield %>

</main>
  <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    	</div>
    </div>
  </div>
</footer>
  </body>
</html>

  </body>
</html>
